{% extends 'base.html' %}
{% block main %}
<body>
    <h2>Booking Confirmation</h2>
    <p><strong>User Name:</strong> {{ users }}</p>
    <p><strong>Check-in Date:</strong> {{ booking.check_in }}</p>
    <p><strong>Check-out Date:</strong> {{ booking.check_out }}</p>
    <p>Number of Members: {{ booking.num_members }}</p>
    <p><strong>Total Price:</strong> {{ booking.total_price }}</p>
    <p><strong>Hotel Name:</strong> {{ hotel.name }}</p>
    <p><strong>Location:</strong> {{ hotel.location }}</p>
    <ul>
        {% for amenity in selected_amenities %}
          <li>{{ amenity }}</li>
        {% endfor %}
      </ul>
    <p>Hotel booked successfully!</p>
    <a href="{% url 'hotel:user_dashboard' %}">Go to Dashboard</a>

{% endblock %}
