{% extends 'base.html' %}
{% block main %}
    <h2>Book Hotels</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
    </div>
    <div>
        <label for="max_price">Maximum Price:</label>
        <input type="number" id="max_price" name="max_price">
    </div>
    <div>
        <label for="preferences">Preferences (comma separated):</label>
        <input type="text" id="preferences" name="preferences">
    </div>
    <button type="submit">Search</button>
    <a href="{% url 'hotel:user_dashboard' %}">Return To DashBoard</a>
{% endblock %}